html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  margin: 0px;
  padding: 0px;
}

.App {
  text-align: center;
}

a {
  text-decoration: none;
  color: white;
}
li {
  list-style: none;
}

#nav-bar {
  position: fixed;
  width: 100%;
  top: 0px;
  left: 0px;
  background-color: #adad76;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.75rem;
  ul {
    display: flex;
    flex-direction: row;
    align-items: space-around;
    margin: 0px;
    padding: 0px;
    li{
      display: inline;
      height: 100%;
      padding: 0 1rem;
    }
  }
  ul :hover{
    background-color: black;
  }
}

#about {
  height: 100vh;
  display: flex;
  flex-direction: row;
  background: #6b705c;
  justify-content: space-around;
  align-items: center;
  font-size: 1.75rem;
  #about-me {
    width: 600px;
  }
  #image-block {
    width: 400px;
    height: 500px;
    border: 2px solid black;
  }
  img {
    width: 400px;
    height: 600px;
  }
}

#projects {
  height: 100vh;
}

#skills {
  height: 100vh; }